<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://images.tokopedia.net/img/cache/700/product-1/2018/6/18/1662589/1662589_7f4cdc15-fb41-4ecb-90de-2150f0b0ad67_400_400.jpg"
                class="card-img-top" alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">4.599.000</span> </div>
                <h5 class="card-title">ASUS Zenfone 5</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//107/MTA-3499883/samsung_samsung-galaxy-s9-plus-smartphone--64gb-6gb-_full11.jpg" class="card-img-top"
                alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">6.000.000</span> </div>
                <h5 class="card-title">SAMSUNG S9</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://images.tokopedia.net/img/cache/700/VqbcmM/2020/11/3/b4dadfd1-2c07-4747-a0a0-7e6abdfabf36.jpg"
                class="card-img-top" alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">2.900.000</span> </div>
                <h5 class="card-title">OPPO A12</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://i01.appmifile.com/webfile/globalimg/id/cms/C3F5641E-C8CB-A6AA-FC84-6F60B2A9B26F.jpg" class="card-img-top"
                alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">4.000.000</span> </div>
                <h5 class="card-title">XIAOMI NOTE 9</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check</a> </div>
            </div>
        </div>
    </div>
</div>