<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('components/navbar') %> 
    <body>
    <div class="jumbotron text-center">
      <h1>Hubungi Saya Lebih Lanjut</h1>
      <p>Nur Indah Pratiwi - SP5.2</p> 
    </div>
      
    <div class="container" style="margin-top:30px">
        <div class="row"> 
            <div class="container">
                <h2>Tentang Saya</h2>
                <h5>Photo of me:</h5>
                <img src="" class="mx-auto d-block" style="width:50%"> 
              </div>
        </div>
      </div>
      
    
    </body>
    </html>
    

</body>
</html>