<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('components/head') %>
        <title>Home</title>
</head>

<body>
    <div>
        <%- include ('components/navbar') %>
            <%- include ('components/crawsel') %>
                <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                    <%- include ('components/card') %>

                </div>
</body>